<%= form_for(@payment_received) do |f| %>
  <% if @payment_received.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_received.errors.count, "error") %> prohibited this payment_received from being saved:</h2>

      <ul>
      <% @payment_received.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.number_field :payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
