<br/>
	
	<h3>CB Purchase Register: <%= @from.strftime('%d %b, %Y') %> - <%= @to.strftime('%d %b, %Y') %></h3>
<h4>Print <span class="badge badge-danger white" style="padding-top:3.5px"><%= link_to 'Report', {:controller => 'purchases', :action => 'purchase_register', :format => 'pdf', :from => @from, :to => @to, :report_type => params[:report_type]}, :style => "color:white;text-decoration:none" %></span></h4>
<table class='table table-bordered' style="width:70%">
  <thead>
    <th>Date</th>
    <th>Day</th>
    <th><span class='pull-right'>Purchase</span></th>
  </thead>
<% @purchase.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= k.strftime("%A") %></td>
    <td><span class='pull-right'><%= sprintf('%.2f', v) %></span></td> 
  </tr>
<% end %>
  <thead>
    <th>Total</th>
    <th></th>
    <th><span class='pull-right'><%= sprintf('%.2f', @total_purchase) %></span></th> 
  </thead>
</table>

	