
<h1>Editing purchase</h1>
<style>

#etable_header {
border:#ccc 1px solid;
padding: 3px 2px;
background: #438EB9;
color:#fff;
text-align:center;
}
#etable_header1 {
border:#ccc 1px solid;
padding: 3px 2px;
color:#000;
text-align:center;
}
#etable_header_plain {
padding: 3px 2px;
background: #438EB9;
color:#fff;
text-align:center;
}
#total_purchase_sum{
padding: 3px 2px;
background: #438EB9;
color:#fff;
}
#total_qty{
padding: 3px 2px;
background: #438EB9;
color:#fff;
}
#purchase_sum{
padding: 3px 2px;
background: #438EB9;
color:#fff;
}
.dactions {
	position: fixed;
	width:100px;
	height:40px;
	left:228px;
	top:630px;
}
</style>
<script>
	
	 function inline_edit() {
		alert('link clicked');
	 }
</script>
<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style='float:left'>
    <%= f.label :invoice %><br/>
    <%= f.text_field :invoice %>
	&nbsp;
  </div>
  <div class="field" style='float:left'>
    <%= f.label :supplier_id %><br/>
    <%= f.collection_select :supplier_id, Supplier.all, :id, :name %>
	&nbsp;
  </div>
  
											<div class="col-xs-3"><%= f.label :purchase_date %><br/>
												<div class="input-group input-group-sm"> 
													<%= f.text_field :purchase_date, class: "form-control", value: Date.today %>
													<span class="input-group-addon">
														<i class="icon-calendar"></i>
													</span>
												</div>
											</div>
											
  
  <div class="field" style='float:left;margin-left:20px'>
    <%= f.label :paid, "Payment" %>
	<div><%= f.radio_button :paid, 1, :checked => "checked" %>Cash </div>
	 <div><%= f.radio_button :paid, 0 %>Credit </div>
  </div>
  
  <div id="content_1" class="content_1" style= "position:fixed; left:227px;top:350px;width:860px"> 
	<div class="result_purchase_product">
		<div id='etable_header' class="col-xs-2"><span>Product Code</span></div>
		<div id='etable_header' class="col-xs-2"><span>Product Name</span></div>
		<div id='etable_header' class="col-xs-1"><span>Qty</span></div>
		<div id='etable_header' class="col-xs-2"><span>Price</span></div>
		<div id='etable_header' class="col-xs-2"><span>Sum</span></div>
		<div id='etable_header' class="col-xs-1"><span>Delete</span></div>
	</div> 
	<% @purchase.purchase_products.each do |pp|  %>
	<div style='clear:both'>
		<div id='etable_header1' class="col-xs-2"><span><%= pp.product.code %></span></div>
		<div id='etable_header1' class="col-xs-2"><span><%= pp.product.name %></span></div>
		<div id='etable_header1' class="col-xs-1"><span><%= pp.qty %></span></div>
		<div id='etable_header1' class="col-xs-2"><span><%= pp.cprice %></span></div>
		<div id='etable_header1' class="col-xs-2"><span><%= pp.cprice * pp.qty %></span></div>
		<div id='etable_header1' class="col-xs-1"><span><%= link_to 'Edit', edit_purchase_product_path(pp) %></span></div> 
		<!-- <div id='etable_header1' class="col-xs-1"><span><a href='#' onclick='inline_edit()' >Edit</a></span></div> -->
	</div>
	<% end %>
	<div class="sum_purchase_product" style="position:fixed; left:228px;top:550px;width:860px"> <br/>
		<div id='etable_header_plain' class="col-xs-2"><span>Total</span></div>
		<div id='etable_header_plain' class="col-xs-2"><span>&nbsp;</span></div>
		<div id='total_qty' class="col-xs-1"><%= @purchase.purchase_products.map(&:qty).sum %></div>
		<div id='purchase_sum' class="col-xs-2">&nbsp;</div>
		<div id='total_purchase_sum' class="col-xs-2">0</div>
	</div>
	
  </div> 
  
  
	<div class='dactions'>
		<%= f.submit :class => 'btn btn-pink btn-sm' %>
	</div>
<% end %>
