<h1>Listing purchase_products</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Purchase</th>
    <th>Qty</th>
    <th>Cost Price</th>
    <th>Sales Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchase_products.each do |purchase_product| %>
  <tr>
    <td><%= purchase_product.product_id %></td>
    <td><%= purchase_product.purchase_id %></td>
    <td><%= purchase_product.qty %></td>
    <td><%= purchase_product.cprice %></td>
    <td><%= purchase_product.price %></td>
	<!--
    <td><%= link_to 'Show', purchase_product %></td>
    <td><%= link_to 'Edit', edit_purchase_product_path(purchase_product) %></td>
    <td><%= link_to 'Destroy', purchase_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	-->
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Purchase product', new_purchase_product_path %>
