<%= form_for(@sale_product) do |f| %>
  <% if @sale_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_product.errors.count, "error") %> prohibited this sale_product from being saved:</h2>

      <ul>
      <% @sale_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.collection_select :product_id, Product.all, :id, :name %>
    <%#= f.number_field :product_id %>
  </div>
  <div class="field">
    <%#= f.label :sale_id %><br />
    <%#= f.number_field :sale_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :cprice %><br />
    <%= f.text_field :cprice %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <br/>
    <%= f.submit :class => 'btn btn-primary btn-sm' %>
<% end %>
