<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @sale_return.sale %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale_return.product %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @sale_return.qty %>
</p>

<p>
  <strong>Cprice:</strong>
  <%= @sale_return.cprice %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale_return.price %>
</p>

<%= link_to 'Edit', edit_sale_return_path(@sale_return) %> |
<%= link_to 'Back', sale_returns_path %>
