<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Code:</b>
  <%= @product.code %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>

<p>
  <b>Unit:</b>
  <%= @product.unit %>
</p>

<p>
  <b>Available Qty:</b>
  <%= @product.qty %>
</p>

<p>
  <b>Price:</b>
  <%= @product.stock_products.last.price %>
</p>

