<div class='row'>

  <div class="col-sm-6">
	<div class="profile-user-info profile-user-info-striped">
		<div class="profile-info-row">
			<div class="profile-info-name"> Name </div>

			<div class="profile-info-value">
				<span class="editable" id="username"><%= @product.name %></span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> Barcode </div>

			<div class="profile-info-value">
				<span class="editable" id="city"><%= @product.code %></span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> Category </div>

			<div class="profile-info-value">
				<span class="editable" id="age"><%= @product.category.name %></span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> Available Qty</div>

			<div class="profile-info-value">
				<span class="editable" id="about"><%= @product.qty %></span>
			</div>
		</div>
		
		<div class="profile-info-row">
			<div class="profile-info-name"> Latest Cost Price </div>

			<div class="profile-info-value">
				<span class="editable" id="signup">
				  <%  if @product.qty > 0 %>
					<%= @product.stock_products.last.cprice %>
				  <% else %>
					Not Available
				  <% end %>
				</span>
			</div>
		</div>
	</div>
  </div>


  <div class="col-sm-6">
	<div class="profile-user-info profile-user-info-striped">
		<div class="profile-info-row">
			<div class="profile-info-name"> ID </div>

			<div class="profile-info-value">
				<span class="editable" id="username"><%= @product.id? ? @product.id : 'Not Specified' %></span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> Size </div>

			<div class="profile-info-value">
				<span class="editable" id="city"><%= @product.size ? @product.size : 'Not Specified' %></span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> Unit </div>

			<div class="profile-info-value">
				<span class="editable" id="login"><%= @product.unit %></span>
			</div>
		</div>
		
		<div class="profile-info-row">
			<div class="profile-info-name"> Cost Price </div>

			<div class="profile-info-value">
				<span class="editable" id="age"><%= @product.cprice ? @product.cprice : 'Not Specified' %></span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> Sale Price </div>

			<div class="profile-info-value">
				<span class="editable" id="login"><%= @product.price ? @product.price : 'Not Specified' %></span>
			</div>
		</div>


	</div>
  </div>

</div>
<% if current_user.name == 'admin' %>
<h3> Purchase & Sales Details</h3>

<table class='table table-bordered table-striped'>
 <thead class="thin-border-bottom">
  <tr>
	<th><i class="icon-caret-right blue"></i>Date</th>
	<th><i class="icon-caret-right blue"></i>Purchase</th>
	<th><i class="icon-caret-right blue"></i>Sale</th>
	<th><i class="icon-caret-right blue"></i>Sales Return</th>
  </r>
 </thead>
 <tbody>
<% @transactions.sort_by { |hsh| hsh[:date] }.reverse.each do |transaction| %>
  <tr>
	<td><%= transaction[:date].strftime('%b %d, %Y') %></td>
	<% if transaction[:type] == 'Purchase' %>
		<td><span class="label label-info arrowed-left arrowed"><%= transaction[:qty] %></span> &nbsp;<%= transaction[:qty] * transaction[:cprice] %></td><td></td><td></td>
	<% elsif transaction[:type] == 'Sale' %>
		<td></td><td><span class="label label-success arrowed-right arrowed-in"><%= transaction[:qty] %></span> &nbsp;<%= transaction[:price] %></td><td></td>
	<% elsif transaction[:type] == 'Return' %>
		<td></td><td></td><td><span class="label label-warning arrowed-left arrowed"><%= transaction[:qty] %></span> &nbsp;<%= transaction[:price] %></td>
	<% end %>
  </tr>
  <% end %>

  <tr>
	<td><b>Total</b></td>
	<td><b><%= @product.purchase_products.sum(:qty)%></b></td>
	<td><b><%= @product.sale_products.sum(:qty) %></b></td>
	<td><b><%= @product.sale_returns.sum(:qty) %></b></td>
  </tr>
 </tbody>
</table>

<% end %>
<br>
<a href="/products/new"><button class="btn btn-primary myspace"><i class="icon-list align-top bigger-125"></i>New Product</button></a>