
<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style='float:left'>
    <%= f.label :invoice %><br/>
     <%= f.text_field :invoice, style: "width:150px"  %>
  </div>

  <div class="field" style='float:left; margin-left:5px'>
    <%= f.label :sale_date %><br/>
	<div class="input-group input-group-xs"> 
		<%= f.text_field :sale_date, value: Date.today  %>
		<span class="input-group-addon" style='width:30px'>
			<i class="icon-calendar"></i>
		</span>
	</div>
  </div>
  <div class="field" style='float:left; margin-left:10px'>
	<label for="paid">Payment Mode</label><br/>
		<label class="radio-inline">
          <%= f.radio_button :paid, 1, :checked => "checked" %>
		  Cash
		</label>
		<label class="radio-inline">
          <%= f.radio_button :paid, 0 %>
		  Credit
		</label>
  </div>
  <div id="content_1" class="content_1" style= "position:fixed;top:250px;background: #eee;"> 
    <div class="result_sale_product1">
	<!--	<div id='etable_header' class="col-xs-2"><span>Product Code</span></div>  -->
		<div id='etable_header' class="col-xs-7"><span>Product Name</span></div>
		<div id='etable_header' class="col-xs-1"><span>Qty</span></div>
		<div id='etable_header' class="col-xs-2"><span>Price</span></div>
		<div id='etable_header' class="col-xs-2"><span>Delete</span></div>  
	</div>
	<div class="result_sale_product"> 
	</div>
	<div class="sum_sales_product" style="position:fixed;top:450px;width:600px;background: #eee;padding-bottom: 5px;"> <hr/>
		<div>
			<div id='etable_header_plain' class="col-xs-6"><%= f.label :customer_name, class: "col-xs-5"  %><%= f.text_field :customer_name, data: { autocomplete_source: "/customers.json" }, class: "col-xs-6"  %></div>
			<div id='etable_header_plain' class="col-xs-2"><span>Total</span></div>
			<div id='total_sale_price' class="col-xs-2">0</div>
		</div>
		<br/>
		<br/>
		<div>
			<div id='etable_header_plain' class="col-xs-5"><%= f.label :remark, class: "col-xs-5" %><%= f.text_field :remark, class: "col-xs-5"  %></div>
		</div>
	</div>
  </div>
  
	
	
	 
		<%= f.submit :class => 'btn btn-pink btn-sm',confirm: 'Are You Sure',  style: 'float:right' %>

<% end %>


