<br/>
	
	<h3>Sales Report: <%= @from.strftime('%d %b, %Y') %> - <%= @to.strftime('%d %b, %Y') %></h3>
<h4>Print </h4>
<table class='table table-striped' style="width:80%">
  <tr>
    <th>S.No</th>
    <th>Invoice</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Action</th>
  </tr>
	<% i = 1 %>
<% @sales.each do |sale| %>
  <tr>
    <td><%= i %></td>
	<% i += 1 %>
    <td><%= sale.invoice %></td>
    <td><%= sale.sale_date.strftime('%d %b') %></td> 
	<% 
		total_sales = sale.sale_products.sum(:price)
		discount = (total_sales * (sale.discount).to_f / 100)	
	%>
	<% @total_sale += (sale.sale_products.sum(:price) - sale.sale_returns.sum(:price) - discount)  %>
    <td><%= (total_sales - sale.sale_returns.sum(:price) - discount).round(2) %></td>
    <td><%= link_to 'Show', sale %></td>
  </tr>
<% end %>
</table>

	<% if (params[:report_type] == "ALL") %>
		<h3 class='btn btn-pink' style='position:fixed;top:157px;right:50px;'>Total Sales (CB): Rs. <%= @total_cb_sale.round(2) if @total_cb_sale %> </h3>
		<h3 class='btn btn-inverse' style='position:fixed;top:207px;right:50px;'>Total Sales (CD) : Rs. <%= @total_cd_sale.round(2) if @total_cd_sale %> </h3>
	<% end %>
	<h3 class='btn btn-pink' style='position:fixed;top:107px;right:50px;'>Total Sales <%="#{('(' + params[:report_type]+ ')') if (params[:report_type] != 'CBP')}"%>: Rs. <%= @total_sale.round(2) if @total_sale %> </h3>
<br />
