<br/>
	
	<h3>Sales Register: <%= @from.strftime('%d %b, %Y') %> - <%= @to.strftime('%d %b, %Y') %></h3>
<h4>Print <span class="badge badge-danger white" style="padding-top:3.5px"><%= link_to 'Report', {:controller => 'sales', :action => 'sales_register', :format => 'pdf', :from => @from, :to => @to}, :style => "color:white;text-decoration:none" %></span></h4>
<table class='table table-bordered' style="width:80%">
  <thead>
    <th>Date</th>
    <th>Day</th>
    <th>CB Value</th>
    <th>CD Value</th>
    <th>Return</th>
    <th>Total</th>
  </thead>
<% @total_sale.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= k.strftime("%A") %></td>
    <td><%= @cb_sale[k] %></td> 
    <td><%= @cd_sale[k] %></td>
    <td><%= @return_on_date[k] %></td>
    <td><%= v %></td> 
  </tr>
<% end %>
  <thead>
    <th>Total</th>
    <th></th>
    <th><%= @total_cb_sale.round(2) %></th> 
    <th><%= @total_cd_sale.round(2) %></th>
    <th><%= @total_return.round(2) %></th>
    <th><%= (@total_cb_sale + @total_cd_sale -  @total_return).round(2) %></th> 
  </thead>
</table>

	