
<table class='table' style="width:60%">
  <tr style = 'background:#438EB9;color:#ffffff'>
    <th>Date</th>
    <th>Customer</th>
    <th>Remark</th>
    <th>Paid</th>
    <th>Product</th>
    <th>Qty</th>
    <th style="text-align:right">Price</th>
    <th>Action</th>
  </tr>

<% @sales.each do |sale| %>
  <tr class="success">
    <td><%= sale.sale_date.strftime('%d %b') %></td>
    <td><%= sale.remark %></td>
    <td><%= sale.paid ? "Yes" : "No" %></td>
	<td></td>
	<td></td>
	<td></td>
    <td><%= link_to 'Show', sale %>  <%#= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
	
	<% sale.sale_products.each do |sp| %>
	<tr>
	<td></td>
	<td></td>
	<td></td>
    <td><%= sp.product.name %></td>
    <td><%= sp.qty %></td>
    <td style="text-align:right"><%= sp.price %></td>
	</tr>
	<% end %>
<tr style=";font-weight:bold;color:#330088">
<td>Total</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td style="text-align:right;font-weight: bold;"><%= sale.sale_products.sum(:price) %></td>
</tr>
<% end %>
</table>
