
	
	<h3>Sales </h3>
<table class='table' style="width:60%">
  <tr style = 'background:#438EB9;color:#ffffff'>
    <th>Date</th>
    <th>Customer</th>
    <th>Remark</th>
    <th>Paid</th>
    <th>Product</th>
    <th>Qty</th>
    <th style="text-align:center">Price</th>
    <th style="text-align:center">Sum</th>
  </tr>

  <tr class='success'>
    <td><%= @sale.sale_date.strftime('%d %b') %></td>
    <td><%= @sale.customer.name if @sale.customer %></td>
    <td><%= @sale.remark %></td>
    <td><%= @sale.paid ? "Yes" : "No" %></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
  </tr>
	
	<% @sale.sale_products.each do |sp| %>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    <td><%= sp.product.name %></td>
    <td><%= sp.qty %></td>
    <td style="text-align:right"><%= sp.price / sp.qty %></td>
    <td style="text-align:right"><%= sp.price %></td>
	</tr>
	<% end %>
<tr class='success'>
<td style="font-weight: bold;">Total</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td style="text-align:right;font-weight: bold;"><%= @sale.sale_products.sum(:price) %></td>
</tr>
</table>

<br />

<%= @sale.paid ? "" : (link_to "Collect Money Now", "/receive-now/#{@sale.id}")%>
<%= link_to "Print", sale_path(@sale, format: "pdf") %>